<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.belanga">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BeLanGa">
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".testMain"/>
        <activity android:name=".honeybiscuit" />
        <activity android:name=".murtabak" />
        <activity android:name=".caramel" />
        <activity android:name=".kopidalgona" />
        <activity android:name=".viral" />
        <activity android:name=".masakmerah" />
        <activity android:name=".blackpepper" />
        <activity android:name=".paprik" />
        <activity android:name=".rendang" />
        <activity android:name=".ayamkicap" />
        <activity android:name=".ayamkunyit" />
        <activity android:name=".chicken" />
        <activity android:name=".seafood" />
        <activity android:name=".salmongrill" />
        <activity android:name=".ketamsumbatbakar" />
        <activity android:name=".western" />
        <activity android:name=".ayamstewtomatosayuran" />
        <activity android:name=".ayampanggangketuhar" />
        <activity android:name=".sheperdpiedaging" />
        <activity android:name=".lasagna" />
        <activity android:name=".chickenrouladecreamy" />
        <activity android:name=".spaghettiaglioolio" />
        <activity android:name=".about" />
    </application>

</manifest>